<html lang="en">
<%- include('../../partials/head') %>

<body>
  <nav>
    <%- include('../../partials/header') %>
  </nav>

  <main class="adminList">
    <h4>Resources</h4>
    <ul>
      <% resource.forEach(partner => { %>

      <li>
        <img src="<%= partner.logo_png %>">
        <h5>&#9830;<%= partner.title %></h5>
        <a href="mailto:<%= partner.email %>"><%= partner.email %></a></br>
        <a href="<%= partner.resource_url %>"><%= partner.resource_url %></a>
        <p><%= partner.description %></p>
        <p><%= partner.importance %></p>

        </br></br>

        <form action="<%= `/${adminRoute}/resource/edit/${partner.id}` %>" method="post">
          <button id="edit" type="submit">Edit Details</button>
        </form>


        </br></br>
        <!-- this should actually be a PUT with _method of delete after a confirmation prompt -->
        <form action="<%= `/${adminRoute}/resource/delete/${partner.id}` %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete</button></br></br>
        </form>
      </li>

      <% }) %>
    </ul>
    </br></br></br>
    <%- include('../../partials/edit') %>
    <a href="/<%= adminRoute %>">Back to admin page</a>
  </main>
  <section></section>
  <%- include('../../partials/footer') %>

</body>

</html>