<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="<%= `/${adminRoute}/resource/edit/${resource.id}` %>" method="post">
    <input type="hidden" name="_method" value="put">
    <ul>
      <input value="<%= resource.logo_img %>" name="logo_img" required>
      <input value="<%= resource.title %>" name="title" required>
      <input value="<%= resource.email %>" name="email" required>
      <input value="<%= resource.resource_url %>" name="resource_url" required>
      <input value="<%= resource.description %>" name="description" required>
      <button type="submit">Update</button>
    </ul>
  </form>
</body>

</html>