<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<%- include('../partials/head') %>

<body>
  <!-- facebook feed rendering script: -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=2461835780530329&autoLogAppEvents=1"></script>

    <%- include('../partials/header') %>


  <section id="carouselBox" class="carousel-box">
    <div><div id="arrowLeft" class="arrow-left arrow"></div></div>
    <div class="carousel-main">
      <img class="" src="/assets/Hawk1Cropped.jpg">
      <img class="op0" src="/assets/Hawk2Cropped.jpg">
      <img class="op0" src="/assets/Hawk3Cropped.jpg">
      <img class="op0" src="/assets/Hawk4Cropped.jpg">
      <img class="op0" src="/assets/Hawk5Cropped.jpg">
      <img class="op0" src="/assets/Hawk6Cropped.jpg">
      <img class="op0" src="/assets/Hawk7Cropped.jpg">
      <img class="op0" src="/assets/Hawk8Cropped.jpg">
      <img class="op0" src="/assets/hawk9Cropped.jpg">
      <img class="op0" src="/assets/Hawk10Cropped.jpg">
      <img class="op0" src="/assets/Hawk11Cropped.jpg">
      <img class="op0" src="/assets/Hawk12Cropped.jpg">
      <img class="op0" src="/assets/Hawk13Cropped.jpg">
    </div>
    <div><div id="arrowRight" class="arrow-right arrow"></div></div>
  </section>
  <!-- <%- include('../partials/upcoming') %> -->

  <main id="three-section-main">

    <!-- facebook feed: -->
    <section class="three-section" id="left-section">
        <section class="three-section-contents">

      <div class="fb-page" data-href="https://www.facebook.com/JBLewisMcChord/" data-tabs="timeline" data-width=""
        data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/JBLewisMcChord/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/JBLewisMcChord/">Joint Base Lewis-McChord</a></blockquote>
      </div>

      </section>
    </section>

    <!-- calendar events feed: -->
    <section class="three-section" id="middle-section">
      <section class="three-section-contents">

      <iframe id="calendar"
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=ZTBrdTZwdms4NmhmYTM3ZW5yNzZidWJwbHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D81B60&amp;mode=AGENDA&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0"
        style="border-width:0" width="300" height="600" frameborder="0" scrolling="no"></iframe>

      </section>
    </section>

    <!-- resources section -->
    <section class="three-section" id="right-section">
        <section class="three-section-contents">

      <!-- 
  <section class="gridlock">
    <div id="news"></div>
  </section> -->
  <!-- Image from: https://icon-library.net/icon/email-icon-jpg-23.html -->
  <section id="iconLinks">
    <a href="/email" target=" "><img id="emailicon" src="/assets/email.jpg" alt="email link"></a>
    <!-- Image from: https://www.linkedin.com/company/linkedin -->
    <a href=""><img id="linkicon" src="/assets/linkedin.jpg" alt="linkedin link"></a>
    <!-- Icon from: https://apps.apple.com/us/app/twitter/id333903271 -->
   <a href="https://twitter.com/jblmdpfr?lang=en" target="_blank"><img id="twicon" src="/assets/twitter.jpg"
      alt="twitter link"></a>
    <!-- Icon from https://www.trzcacak.rs/imgb/hRRmbiw/ -->
    <a href="https://www.instagram.com/jblmdpfr" target="_blank"><img id="instaicon" src="/assets/instatest.png"
      alt="instagram link"></a>
    <!-- Image from: https://www.facebook.com/ -->
    <a href="https://www.facebook.com/JBLewisMcChord/?ref=nf" target="_blank"><img id="fbicon" src="/assets/download.png"
      alt="facebook link"></a>
    </section>    

        <p>Placeholder Resouces</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, numquam, aliquid quo fuga repudiandae ducimus facere vel ea minus dolorum eum et quas expedita enim, ipsam explicabo consequuntur voluptatum temporibus!</p>
        <p>Placeholder Resouces</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, numquam, aliquid quo fuga repudiandae ducimus facere vel ea minus dolorum eum et quas expedita enim, ipsam explicabo consequuntur voluptatum temporibus!</p>
        <p>Placeholder Resouces</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, numquam, aliquid quo fuga repudiandae ducimus facere vel ea minus dolorum eum et quas expedita enim, ipsam explicabo consequuntur voluptatum temporibus!</p>

      <%- include('../partials/upcoming') %>

        </section>
    </section>

  </main>



  <%- include('../partials/footer') %>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/carousel.js"></script>
</body>

</html>