<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>

  
  <main >
      <h4>Resources for Civilian Career Development</h4>
    <ul class='resourcePage'>
      <% resource.forEach(partner => { %>
        <li>
            <img src="<%= partner.logo_png %>">
            <h5>&#9830;<%= partner.title %></h5>
            <a href="mailto:<%= partner.email %>">Email</a></br>
            <a href="<%= partner.resource_url %>">Resource page</a>
            <p><%= partner.description %></p>
            <p><%= partner.importance %></p></br></br>
        </li>
      <% }); %>
    </ul>
  </main>

  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.resources_link').hide();
  </script>

</body>

</html>