<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>

  
  <main class="resource-section">
      <h2>Resources for Civilian Career Development</h2>
    <ul>
      <% resource.forEach(partner => { %>
        <li>
          <div><img src="<%= partner.logo_img %>"></div>
          <div>
            <h5><%= partner.title %></h5>
            <a href="mailto:<%= partner.email %>">Email</a></br>
            <a href="<%= partner.resource_url %>">Resource page</a>
            <p><%= partner.description %></p>
            <p><%= partner.importance %></p>
          </div>
        </li>
      <% }); %>
    </ul>
  </main>

  <%- include('../partials/footer') %>

</body>

</html>