<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>

  
  <main class='resourcePage'>
    <h4>Resources for Civilian Career Development</h4>
    <ul>
      <% resource.forEach(partner => { %>
        <li>
          <h5 class="rr rt">	&#9830;<%= partner.title %></h5>
          <p class="rr dt"><%= partner.description %></p>
          <a class="rr" href="<%= partner.resource_url %>">Resource link</a>
          <!-- <a id="pdf" href="/pdf">PDF</a> -->
        </li>
      <% }) %>
    </ul>
  </main>

  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.resources_link').hide();
  </script>

</body>

</html>